body{
	background: url(https://media.giphy.com/media/3o7TKQVvClrMdt7mSs/giphy.gif);
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
}

.event{
	background:#fff;
	padding:6px;
	border-left:4px solid red;
	border-right:4px solid green;
	border-top:4px solid yellow;
	border-bottom:4px solid blue;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
}
.navbar-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-shadow{
	text-shadow: 4px 4px 4px lightgrey;
}
.box-shadow{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 0.1s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
.nav-elevate
{
    -webkit-transition: all 800ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 800ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 800ms ease-in;
    -moz-transform: scale(1);
    transition: all 800ms ease-in;
    transform: scale(1);   

}
.nav-elevate:hover
{
    box-shadow: 0px 0px 10px lightgrey;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.xelevate
{
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(1);
    transition: all 500ms ease-in;
    transform: scale(1);   

}
.xelevate:hover
{
    box-shadow: 0px 0px 30px grey;
    z-index: 2;
    -webkit-transition: all 350ms ease-in;
    -webkit-transform: scale(0.9);
    -ms-transition: all 350ms ease-in;
    -ms-transform: scale(0.9);   
    -moz-transition: all 350ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 350ms ease-in;
    transform: scale(0.9);
}
.elevate
{
    -webkit-transition: all 1000ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 1000ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 1000ms ease-in;
    -moz-transform: scale(1);
    transition: all 1000ms ease-in;
    transform: scale(1);   

}
.elevate:hover
{
    box-shadow: 0px 0px 10px lightgrey;
    z-index: 2;
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(0.9);
    -ms-transition: all 500ms ease-in;
    -ms-transform: scale(0.9);   
    -moz-transition: all 500ms ease-in;
    -moz-transform: scale(0.9);
    transition: all 500ms ease-in;
    transform: scale(0.9);
}


@media screen and (min-width: 601px) {
  .card {
    -webkit-transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  .card {
    -webkit-transform: scale(1.1);
  }

@media screen and (min-width: 601px) {
  .card-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .card-title {
    font-size: 15px;
  }


@media screen and (max-width: 600px) {
  .h1 {
    font-size:1px;
  }
@media screen and (min-width: 600px) {
  .h1 {
    font-size:100px;
  }
}


  /*
@media screen and (min-width: 601px) {
  .card-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .card-text {
    font-size: 10px;
  }
@media screen and (min-width: 601px) {
  .btn-text {
	font-size: 20px;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .btn-text {
	font-size: 5px;
    max-width: 50%;
  }
  */
  
 
